.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.date-input-clean::-webkit-calendar-picker-indicator {
  opacity: 0;
  position: absolute;
  right: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.scroll-hover {
  scrollbar-width: thin !important;
  scrollbar-color: transparent transparent !important;
}
.scroll-hover:hover {
  scrollbar-color: #0064de transparent !important;
}
.scroll-hover::-webkit-scrollbar {
  width: 6px !important;
}
.scroll-hover::-webkit-scrollbar-track {
  background: transparent !important;
  box-shadow: none !important;
}
.scroll-hover::-webkit-scrollbar-button {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
}
.scroll-hover::-webkit-scrollbar-button {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
  background: transparent !important;
}
.scroll-hover::-webkit-scrollbar-thumb {
  background-color: transparent !important;
  border-radius: 9999px !important;
  border: none !important;
}
.scroll-hover:hover::-webkit-scrollbar-thumb {
  background-color: #0064de !important;
}
.scroll-hover::-webkit-scrollbar-corner {
  background: transparent !important;
}

.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}