@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes pop {
  0% { transform: scale(0.95); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}
.animate-pop {
  animation: pop 0.2s ease-out;
}

.card-proceso {
  border-left-width: 8px !important; /* El !important asegura que sobrescriba Tailwind */
}

@keyframes toastSlideDown {
  from { opacity: 0; transform: translateY(-16px); }
  to { opacity: 1; transform: translateY(0); }
}
@keyframes toastSlideLeft {
  from { opacity: 0; transform: translateX(24px); }
  to { opacity: 1; transform: translateX(0); }
}

html, body {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none;
}

.scroll-hover {
  scrollbar-width: thin !important;
  scrollbar-color: transparent transparent !important;
}

.scroll-hover:hover {
  scrollbar-color: #94a3b8 transparent !important;
}

.scroll-hover::-webkit-scrollbar {
  width: 0px !important;
  height: 0px !important;
  transition: width 2.5s ease-in-out !important;
}

.scroll-hover:hover::-webkit-scrollbar {
  width: 5px !important;
}

.scroll-hover::-webkit-scrollbar-track {
  background: transparent !important;
}

.scroll-hover::-webkit-scrollbar-thumb {
  background-color: #94a3b8 !important;
  border-radius: 9999px !important;
  border: none !important;
}

.scroll-hover::-webkit-scrollbar-thumb:active {
  background-color: #64748b !important;
}

.scroll-visible {
  scrollbar-width: thin !important;
  scrollbar-color: #94a3b8 transparent !important;
}

.scroll-visible::-webkit-scrollbar {
  width: 5px !important;
  height: 5px !important;
}

.scroll-visible::-webkit-scrollbar-track {
  background: transparent !important;
}

.scroll-visible::-webkit-scrollbar-button {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
}

.scroll-visible::-webkit-scrollbar-corner {
  background: transparent !important;
}

.scroll-visible::-webkit-scrollbar-thumb {
  background-color: #94a3b8 !important;
  border-radius: 9999px !important;
  border: none !important;
}

.scroll-visible::-webkit-scrollbar-thumb:active {
  background-color: #64748b !important;
}

.scroll-visible {
  scrollbar-width: thin !important;
  scrollbar-color: #94a3b8 transparent !important;
}

.scroll-visible::-webkit-scrollbar {
  width: 5px !important;
  height: 5px !important;
}

.scroll-visible::-webkit-scrollbar-track {
  background: transparent !important;
}

.scroll-visible::-webkit-scrollbar-button {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
}

.scroll-visible::-webkit-scrollbar-corner {
  background: transparent !important;
}

.scroll-visible::-webkit-scrollbar-thumb {
  background-color: #94a3b8 !important;
  border-radius: 9999px !important;
  border: none !important;
}

.scroll-visible::-webkit-scrollbar-thumb:active {
  background-color: #64748b !important;
}