@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes pop {
  0% { transform: scale(0.95); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}
.animate-pop {
  animation: pop 0.2s ease-out;
}

.card-proceso {
  border-left-width: 8px !important; /* El !important asegura que sobrescriba Tailwind */
}

